In [6]:
# creating Series from python list
import pandas as pd
name=['mm','kk','pp','yy']
age=[22,23,34,25]
a = pd.Series(age,name)
b = pd.Series(age)

print(a)
print('\n')
print(b)
print(a['mm']) # 访问 Series 里的数据的方式，和 Python 字典基本一样：
print('\n')

mm    22
kk    23
pp    34
yy    25
dtype: int64


0    22
1    23
2    34
3    25
dtype: int64
22

In [9]:
# creating Series from Numpy array
import numpy as np
import pandas as pd
name=np.array(['mm','kk','pp','yy'],dtype=np.string_)

age=np.array([22,23,34,25])

a = pd.Series(name)
b = pd.Series(age)

print(a)
print('\n')
print(b)

0    b'mm'
1    b'kk'
2    b'pp'
3    b'yy'
dtype: bytes16


0    22
1    23
2    34
3    25
dtype: int64

In [10]:
# creating Series from python dict
dict_one = {'a':10,'b':20,'c':30,'d':40} # Pandas 会自动把字典的键值设置成 Series 的 index
a = pd.Series(dict_one)
print(a)

a    10
b    20
c    30
d    40
dtype: int64

In [57]:
import numpy as np 
import pandas as pd

dates = pd.date_range('20130101', periods=6)
print(dates)
print('\n')
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD')) # 6行4列，索引为dates，列名称分别为ABCD
print(df)
print(10*'====')
print(df.head()) # 查看前5行
print(10*'====')
print(df.tail()) # 查看后5行
print(10*'====')
print(df.tail(3)) # 查看指定后几行

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')


                   A         B         C         D
2013-01-01 -0.349451 -1.321061 -0.424132  0.559748
2013-01-02 -0.487236 -0.714997 -0.552206 -1.080954
2013-01-03  0.326626 -1.065438 -0.723318  1.843437
2013-01-04 -1.069562  0.221770 -0.127092 -1.290570
2013-01-05 -1.133427 -1.381886  2.673911  1.373106
2013-01-06 -0.525649  0.106843  1.518344  0.644479
========================================
                   A         B         C         D
2013-01-01 -0.349451 -1.321061 -0.424132  0.559748
2013-01-02 -0.487236 -0.714997 -0.552206 -1.080954
2013-01-03  0.326626 -1.065438 -0.723318  1.843437
2013-01-04 -1.069562  0.221770 -0.127092 -1.290570
2013-01-05 -1.133427 -1.381886  2.673911  1.373106
========================================
                   A         B         C         D
2013-01-02 -0.487236 -0.714997 -0.552206 -1.080954
2013-01-03  0.326626 -1.065438 -0.723318  1.843437
2013-01-04 -1.069562  0.221770 -0.127092 -1.290570
2013-01-05 -1.133427 -1.381886  2.673911  1.373106
2013-01-06 -0.525649  0.106843  1.518344  0.644479
========================================
                   A         B         C         D
2013-01-04 -1.069562  0.221770 -0.127092 -1.290570
2013-01-05 -1.133427 -1.381886  2.673911  1.373106
2013-01-06 -0.525649  0.106843  1.518344  0.644479

In [27]:
# 描述性显示关于数据的简短统计摘要
print(df.describe())

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.362920  0.111082 -0.398423  0.394174
std    1.513359  0.594135  1.089509  1.033947
min   -1.501581 -0.610544 -2.298700 -1.326919
25%   -0.824666 -0.381581 -0.769687 -0.022558
50%    0.484188  0.173101 -0.131602  0.639029
75%    1.401197  0.561933  0.414417  0.935180
max    2.264809  0.805763  0.557324  1.623092

In [28]:
# 转置
print(df.T)

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.501581    2.264809    0.421779   -1.240148    0.546597    1.686063
B    0.585587    0.490970   -0.460519   -0.144767   -0.610544    0.805763
C   -2.298700   -0.535680   -0.847689    0.461731    0.272476    0.557324
D    1.623092   -0.210146    1.000955    0.540205   -1.326919    0.737853

In [30]:
# 通过轴来分类你的数据（相当于排序，axis=1可以理解为分类列名，=0则为索引名）
print(df.sort_index(axis=1, ascending=False)) # sort_index--根据索引排序，axis=1代表横轴，ascending=False代表降序。
print('\n注意sort_index和sort_values的区别')
print(df.sort_values(axis=0,by='B',ascending=False)) # sort_values--根据值来排序，axis=0代表竖轴，ascending=False代表降序。

                   D         C         B         A
2013-01-01  1.623092 -2.298700  0.585587 -1.501581
2013-01-02 -0.210146 -0.535680  0.490970  2.264809
2013-01-03  1.000955 -0.847689 -0.460519  0.421779
2013-01-04  0.540205  0.461731 -0.144767 -1.240148
2013-01-05 -1.326919  0.272476 -0.610544  0.546597
2013-01-06  0.737853  0.557324  0.805763  1.686063

注意sort_index和sort_values的区别
                   A         B         C         D
2013-01-06  1.686063  0.805763  0.557324  0.737853
2013-01-01 -1.501581  0.585587 -2.298700  1.623092
2013-01-02  2.264809  0.490970 -0.535680 -0.210146
2013-01-04 -1.240148 -0.144767  0.461731  0.540205
2013-01-03  0.421779 -0.460519 -0.847689  1.000955
2013-01-05  0.546597 -0.610544  0.272476 -1.326919

## 获取数据
- 我们比较推荐最优化的pandas数据获取方法， 
- 例如.at, .iat, .loc, .iloc and .ix。

In [34]:
print(df['A']) # 像访问Python 字典一样
print('\n')
print(df[0:3]) #根据顺序通过切片方式访问，前0-3不含3行数据。
print('\n')
print(df['20130102':'20130104']) # 根据索引访问数据。2013-2，3，4

2013-01-01   -1.501581
2013-01-02    2.264809
2013-01-03    0.421779
2013-01-04   -1.240148
2013-01-05    0.546597
2013-01-06    1.686063
Freq: D, Name: A, dtype: float64


                   A         B         C         D
2013-01-01 -1.501581  0.585587 -2.298700  1.623092
2013-01-02  2.264809  0.490970 -0.535680 -0.210146
2013-01-03  0.421779 -0.460519 -0.847689  1.000955


                   A         B         C         D
2013-01-02  2.264809  0.490970 -0.535680 -0.210146
2013-01-03  0.421779 -0.460519 -0.847689  1.000955
2013-01-04 -1.240148 -0.144767  0.461731  0.540205

## 由标签获取数据
- 用标签来截取一行数据
- 在多个轴上通过标签来选取数据
- 同时用标签切片和标签名索引来获取数据
- 对返回的对象的维度进行减少维度
- 更快地获取标量值（效果相当于前一个方法）

In [41]:
print(df.loc[dates[0]]) # 因为索引标签为dates，所以dates[0]代表第一行。
print('\n')
print(df.loc[:,['A','B']]) # 在多个轴上通过标签来选取数据--从头到尾，选取A，B两列
print('\n')
print(df.loc['20130103':'20130105',['A','B']]) # 同时用标签切片和标签名索引来获取数据--20130103到20130105，A，B两列数据
print('\n')
print(df.loc[dates[0],'A'])
print('\n')
print(df.at[dates[0],'A'])

A   -1.501581
B    0.585587
C   -2.298700
D    1.623092
Name: 2013-01-01 00:00:00, dtype: float64


                   A         B
2013-01-01 -1.501581  0.585587
2013-01-02  2.264809  0.490970
2013-01-03  0.421779 -0.460519
2013-01-04 -1.240148 -0.144767
2013-01-05  0.546597 -0.610544
2013-01-06  1.686063  0.805763


                   A         B
2013-01-03  0.421779 -0.460519
2013-01-04 -1.240148 -0.144767
2013-01-05  0.546597 -0.610544


-1.5015810915230863


-1.5015810915230863

## 通过位置进行索引
- 通过合适的整数来代表位置进行索引
- 与numpy/python相似的操作，整数切片来获取数据
- 通过含有代表位置的整数列表来获取数据，与numpy/python的风格相似
- 显式切片索引行
- 显式索引数据值

In [52]:
print(df.iloc[3]) # 通过适合的整数来代表位置进行索引--访问的是顺序索引值为3的那一行数据。
print('\n')
print(df.iloc[0:3,0:2]) # 与numpy/python相似的操作，整数切片来获取数据--访问的是0-3行，0-2列数据
print('\n')
print(df.iloc[[1,2,4],[0,2]]) # 通过含有代表位置的整数列表来获取数据，与numpy/python的风格相似--访问的是1,2,4行，0，2列数据

A   -1.240148
B   -0.144767
C    0.461731
D    0.540205
Name: 2013-01-04 00:00:00, dtype: float64


                   A         B
2013-01-01 -1.501581  0.585587
2013-01-02  2.264809  0.490970
2013-01-03  0.421779 -0.460519


                   A         C
2013-01-02  2.264809 -0.535680
2013-01-03  0.421779 -0.847689
2013-01-05  0.546597  0.272476

In [56]:
print(df.iloc[0:3,:]) # 显示切片索引行
print('\n')
print(df.iloc[:,1:3]) # 显示切片索引列
print('\n')
print(df.iloc[1,1])
print('\n')
print(df.iat[1,1])

                   A         B         C         D
2013-01-01 -1.501581  0.585587 -2.298700  1.623092
2013-01-02  2.264809  0.490970 -0.535680 -0.210146
2013-01-03  0.421779 -0.460519 -0.847689  1.000955


                   B         C
2013-01-01  0.585587 -2.298700
2013-01-02  0.490970 -0.535680
2013-01-03 -0.460519 -0.847689
2013-01-04 -0.144767  0.461731
2013-01-05 -0.610544  0.272476
2013-01-06  0.805763  0.557324


0.4909697416868359


0.4909697416868359

## 布尔值索引
- 使用单一的列的值来选取数据
- 从给出布尔条件的数据框来获取数据
- 使用isin()方法来过滤数据

In [60]:
print(df[df.B>0]) # 相当于Excel筛选。B列值大于0
print('\n')
print(df[df>0]) # 从给出布尔条件的数据框来获取数据

                   A         B         C         D
2013-01-04 -1.069562  0.221770 -0.127092 -1.290570
2013-01-06 -0.525649  0.106843  1.518344  0.644479


                   A         B         C         D
2013-01-01       NaN       NaN       NaN  0.559748
2013-01-02       NaN       NaN       NaN       NaN
2013-01-03  0.326626       NaN       NaN  1.843437
2013-01-04       NaN  0.221770       NaN       NaN
2013-01-05       NaN       NaN  2.673911  1.373106
2013-01-06       NaN  0.106843  1.518344  0.644479

In [62]:
df3 = df.copy()
df3['E'] = ['one','one','two','three','four','three']
print(df3)
print('\n')
print(df3[df3['E'].isin(['one','four'])]) # 筛选出E列里面值为one，four的所有数据

                   A         B         C         D      E
2013-01-01 -0.349451 -1.321061 -0.424132  0.559748    one
2013-01-02 -0.487236 -0.714997 -0.552206 -1.080954    one
2013-01-03  0.326626 -1.065438 -0.723318  1.843437    two
2013-01-04 -1.069562  0.221770 -0.127092 -1.290570  three
2013-01-05 -1.133427 -1.381886  2.673911  1.373106   four
2013-01-06 -0.525649  0.106843  1.518344  0.644479  three


                   A         B         C         D     E
2013-01-01 -0.349451 -1.321061 -0.424132  0.559748   one
2013-01-02 -0.487236 -0.714997 -0.552206 -1.080954   one
2013-01-05 -1.133427 -1.381886  2.673911  1.373106  four

In [25]:
#用包含对象的字典创建一个数据框，该方法与创建Series的方法相似。
import numpy as np 
import pandas as pd
df2 = pd.DataFrame({
    'a':1.,
    'b':pd.Timestamp('20130102'),
    'c':pd.Series(1,index=list(range(4)),dtype='float32'),
    'd':np.array([3]*4,dtype='int32'),
    'e':pd.Categorical(['test','train','test','train']),
    'f':'foo'
})
print(df2)
print('\n')
print(df2.dtypes)
print('\n')
# 显示数据框的索引，列名和值。
print(10*'====')
print(df2.index)
print(10*'====')
print(df2.columns)
print(10*'====')
print(df2.values)

     a          b    c  d      e    f
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo


a           float64
b    datetime64[ns]
c           float32
d             int32
e          category
f            object
dtype: object


========================================
Int64Index([0, 1, 2, 3], dtype='int64')
========================================
Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')
========================================
[[1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'test' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'train' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'test' 'foo']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'train' 'foo']]